<div class="row text-center m-t-lg">
  <div class="col-sm-4 m-b-md">
    <div class="w-lg m-x-auto">
      <canvas
        class="ex-graph"
        width="200" height="200"
        data-chart="doughnut"
        data-value="[{ value: 230, color: '#1ca8dd', label: 'Pólizas' }, { value: 130, color: '#1bc98e', label: 'Solicitudes' }]"
        data-segment-stroke-color="#fff"
        data-options="{ percentageInnerCutout: '20' }">
      </canvas>
    </div>
    <strong class="text-muted">Total</strong>
    <h3>Solicitudes vs Pólizas</h3>
  </div>
  <div class="col-sm-4 m-b-md">
    <div class="w-lg m-x-auto">
      <canvas
        class="ex-graph"
        width="200" height="200"
        data-chart="doughnut"
        data-value="[{ value: 330, color: '#1ca8dd', label: 'Reclamos' }, { value: 30, color: '#1bc98e', label: 'Pólizas' }]"
        data-segment-stroke-color="#fff">
      </canvas>
    </div>
    <strong class="text-muted">Total</strong>
    <h3>Pólizas vs Reclamos</h3>
  </div>
  <div class="col-sm-4 m-b-md">
    <div class="w-lg m-x-auto">
      <canvas
        class="ex-graph"
        width="200" height="200"
        data-chart="doughnut"
        data-value="[{ value: 100, color: '#1ca8dd', label: 'x' }, { value: 260, color: '#1bc98e', label: 'Y' }]"
        data-segment-stroke-color="#fff">
      </canvas>
    </div>
    <strong class="text-muted">Total</strong>
    <h3>X vs Y</h3>
  </div>
</div>

<div class="hr-divider m-t-md m-b">
  <h3 class="hr-divider-content hr-divider-heading">Quick stats</h3>
</div>

<div class="row statcards">
  <div class="col-sm-4 m-b">
    <div class="statcard statcard-success">
      <div class="p-a">
        <span class="statcard-desc">Solicitudes</span>
        <h2 class="statcard-number">
          12,938
          <small class="delta-indicator delta-positive">5%</small>
        </h2>
        <hr class="statcard-hr m-b-0">
      </div>
      <canvas id="sparkline1" width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:[28,68,41,43,96,45,100]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
    </div>
  </div>
  <div class="col-sm-4 m-b">
    <div class="statcard statcard-danger">
      <div class="p-a">
        <span class="statcard-desc">Pólizas</span>
        <h2 class="statcard-number">
          758
          <small class="delta-indicator delta-negative">1.3%</small>
        </h2>
        <hr class="statcard-hr m-b-0">
      </div>
      <canvas id="sparkline1" width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:[4,34,64,27,96,50,80]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
    </div>
  </div>
  <div class="col-sm-4 m-b">
    <div class="statcard statcard-info">
      <div class="p-a">
        <span class="statcard-desc">Reclamos</span>
        <h2 class="statcard-number">
          1,293
          <small class="delta-indicator delta-positive">6.75%</small>
        </h2>
        <hr class="statcard-hr m-b-0">
      </div>
      <canvas id="sparkline1" width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:[12,38,32,94,36,54,68]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
    </div>
  </div>
</div>

<hr class="m-t">

<div class="row">
  <div class="col-md-6 m-b-md">
    <div class="list-group">
      <h4 class="list-group-header">
        Tipos de Solicitudes
      </h4>
        <a class="list-group-item" href="#">
          <span class="list-group-progress" style='width: 62.4%;'></span>
          <span class="pull-right text-muted">62.4%</span>
          Automóvil
        </a>

        <a class="list-group-item" href="#">
          <span class="list-group-progress" style='width: 15.0%;'></span>
          <span class="pull-right text-muted">25.0%</span>
          Vida
        </a>

        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 5.0%;"></span>
          <span class="pull-right text-muted">10.6%</span>
          Salud
        </a>

        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 5.0%;"></span>
          <span class="pull-right text-muted">2.0%</span>
          Incendio
        </a>
    </div>

  </div>
  <div class="col-md-6 m-b-md">
    <div class="list-group">
      <h4 class="list-group-header">
        Performance de Corredores (pólizas emitidas)
      </h4>

        <a class="list-group-item" href="#">
          <span class="pull-right text-muted">3,929,481</span>
          Javier Merchán
        </a>

        <a class="list-group-item" href="#">
          <span class="pull-right text-muted">1,143,393</span>
          Daniel Da Mata
        </a>

        <a class="list-group-item" href="#">
          <span class="pull-right text-muted">938,287</span>
          Eduardo Florez
        </a>

        <a class="list-group-item" href="#">
          <span class="pull-right text-muted">749,393</span>
          Alan Muñoz
        </a>

        <a class="list-group-item" href="#">
          <span class="pull-right text-muted">695,912</span>
          Mariadelaida Robles
        </a>
    </div>
  </div>
</div>

  <div class="list-group">
  <h4 class="list-group-header">
    Alguna otra estadística
  </h4>

    <a class="list-group-item" href="#">
      <span class="pull-right text-muted">3,929,481</span>
      Variable
    </a>

    <a class="list-group-item" href="#">
      <span class="pull-right text-muted">1,143,393</span>
      Variable
    </a>

    <a class="list-group-item" href="#">
      <span class="pull-right text-muted">938,287</span>
      Variable
    </a>

    <a class="list-group-item" href="#">
      <span class="pull-right text-muted">749,393</span>
      Variable
    </a>

    <a class="list-group-item" href="#">
      <span class="pull-right text-muted">695,912</span>
      Variable
    </a>
  </div>
</div>


<div id="docsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Example modal</h4>
      </div>
      <div class="modal-body">
        <p>You're looking at an example modal in the dashboard theme.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cool, got it!</button>
      </div>
    </div>
  </div>
</div>